pkgbase = llmff-bin
	pkgdesc = FFmpeg-shaped command-line runner for LLM inference pipelines
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/syndicalt/llmff
	arch = x86_64
	license = MIT
	depends = glibc
	provides = llmff
	conflicts = llmff
	source = llmff-bin-0.1.3.tar.gz::https://github.com/syndicalt/llmff/releases/download/v0.1.3/llmff-0.1.3-x86_64-unknown-linux-gnu.tar.gz
	sha256sums = e83fe32cf6bc88acc426acadc893e9015a4d58bc47ac8726a21b54b685b7950c

pkgname = llmff-bin
